/*------------------------------------*\
   #COLORS
\*------------------------------------*/

$pistachio: #96CA70;
$kaitike: #2E5134;
$nero: #282227;
$wine: #712D37;
$fandango: #A54087;
$candycoral: #E17477;


$lightcool: $pistachio;
$darkcool: $kaitike;
$darkneutral: $nero;
$darkwarm: $wine;
$mediumwarm: $fandango;
$lightwarm: $candycoral;

$white: #FFFFFF;
$offwhite: #F6F6F6;
$black: #000000;



