/*------------------------------------*\
   #INDEX
\*------------------------------------*/

div.content-wrapper {
  padding: 5%;
}

header.title {
  font-size: 70px;
  text-align: center;
  font-family: $display;
  color: $darkwarm;
}

