/*------------------------------------*\
   #START
\*------------------------------------*/

main.start-menu {
  background-color: $offwhite;
  border: 2px solid black;
  margin: 4%;

}

section.user {
 border: 1px solid $lightwarm;
}

